/* General Styles */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #EFEFEF;
    color: #000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #13072e;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #13072e;
    border: none;
}

.btn-primary:hover {
    background-color: #3f2182;
}
